* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-serif;
}
body {
    max-width: 400px;
    margin: auto;
    background: rgb(0,0,0);
    background: -moz-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(56,56,56,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(56,56,56,1) 100%);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(56,56,56,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#383838",GradientType=1);
}
.nm {display: none;}
.quiniela {
    margin: auto;
    background-image: url("quiniela.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 400px;
    border-radius: 15px;
}
/**
.quiniela {
    margin: auto;
    background-image: url("Fondo2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 400px;
    border-radius: 15px;
}
*/

.botones {
    margin-top: 10px;
    width: 100%;
}
@media (max-width: 400px){
    .botones {
        margin-top: 5px;
    }
}
.aux {
    width: 100%;
    height: 13.3%;
    padding-top: 2.5%;
}
.quiniela span {
    margin: 1px;
    width: 10.6%;
    display: inline-flex;
    -webkit-transition:background-color 0.3s ease;
    -moz-transition:background-color 0.3s ease;
    -o-transition:background-color 0.3s ease;
    transition:background-color 0.3s ease;  
}
#_ {
    width: 34.1%;
    height: 656px;
    display: inline-flex;
}
.partido {
    display: flex;
    height: 6.77%;
    width: 100%;
    padding-top: 0.6px;
    padding-left: 0.22%;
    padding-bottom: 0.26px;   
}
h1 {
    text-align: center;
    padding: 19px;
    color: #FFF;
    margin-top: 26%;
    border: 1px solid #000;
    border-radius: 10px;
    background: -webkit-linear-gradient(0.04turn, black, rgb(12,159,229) 80%);
    background: linear-gradient(0.04turn, black, rgb(12,159,229) 80%);
    font-size: x-large;
}
h2, h3 {
    text-align: center;
    box-shadow: 2px 2px 2px #000;
    border-radius: 10px;
}
.botonenviar {
    background: #1481b5;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    padding-top:8px;
    height: 64px;
    border: 1px solid #000;
}
.botonenviar span {
    font-size: 13px;
}
.header {
	width: 400px;
}
.pie {
	width: 400px;
}
.imgref {
    width: 25px;
    height: 25px;
}
#botonlisto {
    background: #1481b5;
    font-size: 10px;
    padding: 10px;
    height: 64px;
    border: 1px solid #000;
}
#botonborrar {
    background: #1481b5;
    font-size: 10px;
    padding: 10px;
    height: 64px;
    border: 2px solid #000;
}
#nombrebox {
    background: #1481b5;
    border-radius: 10px;
    height: 64px;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px #000;
}
#nombretext {
    color: #000000;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}
#nombre {
    background: #FFF;
    display: inline-block;
    width: 95%;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    height: 20px;
}
.cuadronombre {
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
}
p {
    padding: 10px;
}
#display {
    border: 1px solid #000;
    width: 100%;
    background-color: #A4A4A4;
    border-radius: 0px 0px 5px 5px;
    text-align: left;
    padding: 5x 0px;
    margin-bottom: 10px;
    table-layout: fixed;
    box-shadow: 2px 2px 2px #000000;  
}
#display td {
    border-right: 1px solid #000;
    text-align: center;
    overflow-x: hidden;
}
h4 {
    float: left;
    display: contents;
    text-align: center;
}
h6 {
    display: inline;
}
#total {
    display: inline-block;
    float: right;
    margin-top: 7px;
    padding: 0 2px;
}
#costo, #numquinielas {
    color: #000000;
    display: inline;
    padding: 0 2px;
}
.titulo-quinielas {
    color: #FFF;    
    text-align: center;
    background: #424242;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 5px 5px 0px 0px;
    border-left: 2px solid #696969;
    border-right: 2px solid #696969;
    border-top: 2px solid #696969;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}
.suma {
    background: #22B14C;
    border-radius: 5px;
    box-right-shadow: 2px #000000;
    height: 45px;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #000;
}
.instrucciones {
    margin-top: 21%;
    width: 100%;
}
.reglas {
    background: #1481b5;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 11px;
    padding-left: 10px;
    box-shadow: 2px 2px 2px #000;
}
.nombre-div {
    border: 1px;
}
